@use 'sass:map';
@use 'sass:math';

// These variables may live in other parts of your stylesheet.
// This assumes you will have one of each type of font family. Rename these variables as needed for your project.
// example: $font-family-opensans: "Open Sans", Verdana, sans-serif;
$font-family-serif: sans-serif;
$font-family-sans: sans;
$font-family-mono: monospace, monospace;


/*
---------------------------------------------------------------------------------------------------
**  SEE README FOR REAL SAMPLES OF FONT MAP STYLES  **
Use the example below to roll your own, or copy paste from the examples provided.
---------------------------------------------------------------------------------------------------
*/

// Editor Note: When using the font size for the descriptor, it is necessary to start with the underscore to prevent scss compiler for choking. ( '_16' )

// Default Font Map Starter
// Uncomment the code below and start building out your font map!
// $fonts: (
//   'category': (
//     'descriptor': (
//       'family': $font-family-sans,
//       'font-size-desktop': 16px,
//       'font-size-mobile': 14px,
//       'letter-spacing': normal,
//       'line-height-desktop': 1.6,
//       'line-height-mobile': 1.4,
//     ),
//   ),
// );


@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@mixin font(
  $category: 'sans',    // Input your default category here - typically this would be the default font family of your bodycopy
  $size: '_16',         // Input your default size - typically you would set this to your default bodycopy size
  $weight: 400
) {
  $sizes: map-get($fonts, $category);
  $values: map-get($sizes, $size);
  $min-font-size: map-get($values, 'font-size-mobile');
  $max-font-size: map-get($values, 'font-size-desktop');
  $min-line-height: map-get($values, 'line-height-mobile');
  $max-line-height: map-get($values, 'line-height-desktop');
  $min-vw: 480px;
  $max-vw: 1200px;

  & {
    font-family: map-get($values, 'family');
    font-weight: $weight;
    font-size: $min-font-size;
    line-height: $min-line-height;
    letter-spacing: map-get($values, 'letter-spacing');
  }

  @media only screen and (min-width: #{$min-vw}) {
    font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
  }

  @media only screen and (min-width: #{$max-vw}) {
    font-size: $max-font-size;
    line-height: $max-line-height;
  }
}


// Implementation Examples:
  //@include font(sans, _18); ~ this inherits font-weight: 400
  // @include font(sans, _18, 800); ~ overriding font-weight: 400
