// Only add mixins, maps to this file, any typography styles
// should be in the styles/_typography.scss partial.
@use 'sass:map';
@use 'sass:math';

$font-family-serif: 'Noto Serif', serif;
$font-family-sans: 'Roboto', sans-serif;
$font-family-mono: 'PT Mono', monospace;

$fonts: (
  'serif': (
    '_72': (
      'family': $font-family-serif,
      'font-size-desktop': 72px,
      'font-size-mobile': 48px,
      'letter-spacing': normal,
      'line-height-desktop': 1.25,
      'line-height-mobile': 1.3,
      'text-transform': false,
    ),
    '_60': (
      'family': $font-family-serif,
      'font-size-desktop': 60px,
      'font-size-mobile': 32px,
      'letter-spacing': normal,
      'line-height-desktop': 1.25,
      'line-height-mobile': 1.3,
    ),
    '_48': (
      'family': $font-family-serif,
      'font-size-desktop': 48px,
      'font-size-mobile': 28px,
      'letter-spacing': normal,
      'line-height-desktop': 1.25,
      'line-height-mobile': 1.3,
    ),
  ),
  'sans': (
    '_20': (
      'family': $font-family-sans,
      'font-size-desktop': 20px,
      'font-size-mobile': 18px,
      'letter-spacing': normal,
      'line-height-desktop': 1.6,
      'line-height-mobile': 1.4,
    ),
    '_18': (
      'family': $font-family-sans,
      'font-size-desktop': 18px,
      'font-size-mobile': 16px,
      'letter-spacing': normal,
      'line-height-desktop': 1.6,
      'line-height-mobile': 1.4,
    ),
    '_16': (
      'family': $font-family-sans,
      'font-size-desktop': 16px,
      'font-size-mobile': 14px,
      'letter-spacing': normal,
      'line-height-desktop': 1.6,
      'line-height-mobile': 1.4,
    ),
  ),
  'mono': (
    'sm': (
      'family': $font-family-mono,
      'font-size-desktop': 14px,
      'font-size-mobile': 12px,
      'letter-spacing': normal,
      'line-height-desktop': 1.5,
      'line-height-mobile': 1.25,
    ),
    'lg': (
      'family': $font-family-mono,
      'font-size-desktop': 18px,
      'font-size-mobile': 14px,
      'letter-spacing': normal,
      'line-height-desktop': 1.5,
      'line-height-mobile': 1.25,
    ),
  ),
);

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@mixin font(
  $category: 'sans',    // Input your default category here - typically this would be the default font family of your bodycopy
  $size: '_16',         // Input your default size - typically you would set this to your default bodycopy size
  $weight: 400
) {
  $sizes: map-get($fonts, $category);
  $values: map-get($sizes, $size);
  $min-font-size: map-get($values, 'font-size-mobile');
  $max-font-size: map-get($values, 'font-size-desktop');
  $min-line-height: map-get($values, 'line-height-mobile');
  $max-line-height: map-get($values, 'line-height-desktop');
  $min-vw: 480px;
  $max-vw: 1200px;

  & {
    font-family: map-get($values, 'family');
    font-weight: $weight;
    font-size: $min-font-size;
    line-height: $min-line-height;
    letter-spacing: map-get($values, 'letter-spacing');
  }

  @media only screen and (min-width: #{$min-vw}) {
    font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
  }

  @media only screen and (min-width: #{$max-vw}) {
    font-size: $max-font-size;
    line-height: $max-line-height;
  }
}
