@import '_fluid-fonts.scss';

// Some simple Font Includes from Google
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,500;0,800;1,500;1,800&family=PT+Mono&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');


h1, h2, h3, h4, h5, h6 {
  color: gray;
}

h1 {
  color: rgb(8,69,134);
  @include font(serif, _72, 600);
}

h2 {
  @include font(serif, _60, 200);
}

h3 {
  @include font(serif, _48, 400)
}

p {
  @include font(sans, _18);

  &.lead {
    @include font(sans, _24, 300);
  }
}

ul {

  li {
    color: rgb(8,69,134);
    @include font(sans, _16);
  }
}

code {
  background-color: #000000;
  color: rgb(87, 249, 87);
  display: flex;
  @include font(mono, sm);
  padding: .5rem;
}
